.content-container {
    bottom: 0;
    width: 100%;
    height: calc(100% - 64px);
    position: fixed;
    left: 0;
}
@media only screen and (max-width: 415px) 
{
    .content-container {
    }   
}