.toggle {
  &__inner {
    &--show {
      display: block;
    }
    &--hide {
      display: none;
    }
  }
}

$spacing-unit: 20px;

.accordion {
    width: 100%;

  &__title{
      width: 100%;
      display: block;
      padding: #{$spacing-unit};

  }

  &__children{
    width: 100%;
      margin-left: #{$spacing-unit};
      list-style: none;
      padding: 0;
  }
  
  &__child {
      padding: #{$spacing-unit};
  }
}