.rbc-event{
    &:hover{
        background: #e07b53 !important;
        right: 0 !important;
        left: auto !important;
        height: auto !important;
        width: auto !important;
        z-index: 1;
    }
}